div {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* First section CSS */

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1F2937;
    padding: 0 96px;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
    font-weight: 700;
}

.links {
    display: flex;
    list-style-type:none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    padding: 8px;
    font-weight: 400;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width:450px;  
}

button {
    background-color: #3882F6;
    width: fit-content;
    padding: 8px;
    border: none;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 6px 24px;
    font-weight:600;
    margin: 8px 0;
}

.imgp {
    display: flex;
    width:420px;
    height: 190px;
    background-color: gray;
    margin-left: auto;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.main-sub {
    font-size: 18px;
    color: #E5E7EB;
    width:450px;
}

.left-mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

/*Second Section CSS */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.info-head {
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
    padding: 8px;
    margin: 32px;
}

.placeholders {
    display: flex;
    gap: 48px;
}

.info-placeholder {
    display: flex;
    flex-direction: column;
    width: 115px;
    text-align: center;
    font-size: 12px;
}

.blue {
    display: flex;
    margin: 0 48px;
    color: black;
    font-size: small;
    justify-content: space-evenly;
    list-style-type:none;
    text-align: center;
    
}
.bluebox {
    display: flex;
    height:120px;
    width: 115px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
}

/* Quote section CSS */

.quote-cont {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 24%;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 70%;
    height: 50%;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    width: 64%;
    font-size: 18px;
}

/* Call to action section CSS */

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.call-cont {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    height: auto;
    width: 70%;
    justify-content: space-evenly;
    padding: 36px;
}

.call-head {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.call-subtext { 
    color: white;
    font-size: 13px;
}

.call-button {
    border-style: solid;
    border-color: white;
    border-radius: 4px;
}

/* footer CSS */

.foot-cont {
    flex-grow: 1;
    display: flex;
    background-color:#1F2937 ;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.footer {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

