div {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type:none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    padding: 8px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width:450px;
    
}

.main-left {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.main-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
    margin-right:48px;
}

button {
    background-color: #3882F6;
    width: fit-content;
    padding: 8px;
    border: none;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 4px 24px;
    font-weight:600;
    margin: 8px 0;
}

.imgp {
    width:400px;
    height: 200px;
    background-color: gray;
}

.main-sub {
    font-size: 18px;
    color: #E5E7EB;
    width:450px;
}